.modebar-container {
    top: auto !important;
    margin-right: 25px !important;
    margin-top: 5px !important;
}

.menu-item-config {
    font-size: 14px;
    font-weight: 600;
}

.form {
    margin-top: 60px;
    padding-bottom: 20px;
    color: white;
}

.radio_timer_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    flex-direction: column;
}

#radioitens-input {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 10px;
}

#header-board {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
    margin-bottom: 5vh;
    background-color: #406a4a;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #FEFAE0;
}

.menu-item-config {
    border-radius: 50px;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th {
    position: sticky;
    top: 0;
    background-color: #162419;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    z-index: 10;
}

.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-table tr {
    background-color: #f9f9f9;
}

#checklist-config-graphics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 10px;
}

#button_export {
    background-color: #162419;
    border: none;
    color: white;
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    height: 30px !important;
    transition: 0.3s ease;
}

#button_export:hover {
    border-radius: 20px;
    background-color: #FEFAE0;
    color: black;
    border: 1px solid black;
}

#button_export:focus-visible {
    background-color: #FEFAE0 !important;
    color: black;
}

#button_export:focus-visible #icon_button_export {
    color: black;
}

#button_export:hover #icon_button_export {
    color: black;
}

#icon_button_export {
    color: white;
    margin-right: 10px;
}

#confirm-dialog-download {
    height: 20vh;
}

#grafico_bar {
    width: 100% !important;
    height: 45vh !important;
}

#checklist-config-graphics-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#checklist-config-graphics-lower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#top-checklist-layout {
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#lower-checklist-layout {
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.radio-grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 50px;
}


#div-lower-graphics {
    height: 50vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
}

#div-checklist-proportion {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#div-timer-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

#div-switch-automatic {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div-checklist-layout-graphics {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem vertical */
    height: 8px;
    /* Altura da barra de rolagem horizontal */
}

/* 2. Estiliza o 'Trilho' (o fundo da barra) */
.scroll-container::-webkit-scrollbar-track {
    background: red !important;
    /* Cinza claro */
    border-radius: 10px !important;
}

/* 3. Estiliza o 'Polegar' (o elemento que você arrasta) */
.scroll-container::-webkit-scrollbar-thumb {
    background: red !important;
    /* Cinza escuro */
    border-radius: 10px !important;
}

/* 4. Estiliza o 'Polegar' ao passar o mouse (opcional) */
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
    /* Cinza mais escuro */
}